window-rule {
    match app-id="Alacritty"

    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="quickshell"

    background-effect {
        blur true
    }
}

layer-rule {
    match namespace=r#"^dms:(bar|control-center|notification-center-popout|dash|popout|app-launcher|settings|spotlight|clipboard|notification-popup|osd|toast|tooltip)$"#

    background-effect {
        xray false
    }
}
