layer-rule {
    match namespace="^quickshell$"
    match layer="background"
    place-within-backdrop true
}

layer-rule {
    match namespace="dms:blurwallpaper"
    match layer="background"
    place-within-backdrop true
}
